// btn-primary
.btn-primary {
  @include button($primary, none);
  position: relative;

  a {
    @include button-link($white);
    position: relative;
    z-index: 2;
  }

  &::after {
    content: '';
    width: 0;
    height: 100%;
    left: 0;
    bottom: 0;
    background: $hover-primary;
    position: absolute;
    @include transition;
  }

  &:hover::after {
    width: 100%;
  }
}

// btn-transparent
.btn-transparent {
  @include button(transparent, none);
  margin-top: 32px;
  outline: 1px solid $black;
  position: relative;

  a {
    @include button-link($black);
    position: relative;
    z-index: 2;
  }

  &::after {
    content: '';
    width: 100%;
    height: 0;
    left: 0;
    bottom: 0;
    background: $black;
    position: absolute;
    @include transition;
  }

  &:hover::after {
    height: 100%;
  }

  &:hover a {
    color: $white;
  }
}

// btn-with-arrow
.btn-with-arrow {
  @include flex;
  @extend %subtitle;
  gap: 13px;
}

// btn-black
.btn-black {
  @include button(transparent, none);
  outline: 1px solid $black;
  position: relative;

  a {
    @include button-link($white, 13px 30px);
    position: relative;
    z-index: 2;

    &:hover {
      color: $black;
    }
  }

  &::after {
    content: '';
    width: 100%;
    height: 100%;
    background: $black;
    position: absolute;
    top: 0;
    left: 0;
    @include transition;
  }

  &:hover::after {
    height: 0;
  }
}

// btn-add(add to cart)
.btn-add {
  @extend %subtitle;
  padding: 15px 30px;
  color: $white;

  span {
    position: relative;
    z-index: 2;
  }
}